/* CSS for centering the login block */
.admin-login-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("../assets/img/521.jpg");
  align-items: center;
  height: 120vh; /* Set the height to 80% of the viewport height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}

.admin-login-container {
  background-color: #8c65cf;
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 90%; /* Adjust width for smaller screens */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.admin-login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 50px;
}

.admin-login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.admin-login-container button {
  width: 100%;
  padding: 10px;
  background-color: #f05623;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for button hover effect */
}

.admin-login-container button:hover {
  background-color: #75253d; /* Change background color on hover */
}

.welcome-message {
  text-align: center; /* Align the welcome message to the center */
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin at the bottom */
}

.admin-name {
  font-weight: bold;
  font-size: x-large;
  color: #452048; /* Or any other color */
  margin-right: 10px; /* Add margin to separate the button */
}

.logout-button {
  background-color: #e43f3f;
  color: #fff;
  font-size: 11px;
  margin-left: 3%;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 0%;
  cursor: pointer;
  /* margin: 10px auto 20px; Set top and bottom margins, and center horizontally */
  /* display: block; Ensure the button takes full width */
  transition: background-color 0.3s ease; /* Add transition for button hover effect */
}
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 5px;
}

.category-button {
  flex: 1;
  padding: 8px;
  border: none;
  margin-left: 1%;
  background-color: #f0f0f0;
  cursor: pointer;
  background-color: #4caf50; /* Green */
}

.logout-button:hover {
  background-color: #202051;
}
.extra-height {
  height: 500px;
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .admin-login-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../assets/img/new.png");
    align-items: center;
    height: 100vh; /* Set the height to 80% of the viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
  }
  .admin-login-container {
    margin-top: 50px;
    width: 90%; /* Adjust width for smaller screens */
  }
}
.extra-height {
  height: 10px;
}
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 8px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.category-button {
  flex: 1;
  padding: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  background-color: #4caf50; /* Green */
}

.category-button.active {
  background-color: #9376bd; /* Darker Green */
}
