
.destinations-container {
    padding-top: 20px;
    background-image: url('../assets/img/22.jpg'); /* Add the URL of your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
  }
  

.destination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content horizontally and vertically */
    text-align: center; /* Align text content center */
    height: 100%; /* Ensure each item takes full height */

  }
  
  .destination-image {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 10px;
  }
  
  
  .destination-info {
    flex: 1;
  }
  

/* Apply the flip animation to the .destinations-title */
.destinations-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  color: #902323; /* Add your desired text color */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Add your desired font family */
  animation: flip 10s linear infinite; /* Adjust the animation duration and timing function as needed */
}
  .destination-description {
    font-size: 1.3rem;
    margin-bottom: 30px;
    opacity: 0; /* Initially hide the description */
    transform: translateY(-10px); /* Move the description up */
    animation: dropIn 0.9s forwards; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Apply the dropIn animation */
    color: #1d211a;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Start position above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position normal */
  }
}
.destination-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #106e94b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
  }

  .destination-button:hover {
    background-color: #10a3ff;
    animation:none;
  }
  .video-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .video-container iframe {
    width: 100%;
    max-width: 1000px; /* Optional: Limit the maximum width of the video */
  }

/* Add animation keyframes for waterfall effect */
@keyframes waterfall {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start position above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End position normal */
  }
}

/* Apply waterfall animation to destination items */
.destination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content horizontally and vertically */
  text-align: center; /* Align text content center */
  height: 100%; /* Ensure each item takes full height */
  animation: waterfall 1s ease forwards; /* Apply waterfall animation */
}

/* Adjust animation delay for each destination item */
.destination-item:nth-child(1) {
  animation-delay: 0.4s;
}
.destination-item:nth-child(2) {
  animation-delay: 0.6s;
}
.destination-item:nth-child(3) {
  animation-delay: 0.8s;
}
/* Add animation for destination description */
.destination-description {
  font-size: 1.3rem;
  margin-bottom: 30px;
  opacity: 0; /* Initially hide the description */
  transform: translateY(-10px); /* Move the description up */
  animation: dropIn 0.9s forwards; /* Apply the dropIn animation */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #1d211a;
}

/* Adjust animation delay for destination description */
.destination-description:nth-child(1) {
  animation-delay: 0.7s;
}
.destination-description:nth-child(2) {
  animation-delay: 0.9s;
}
.destination-description:nth-child(3) {
  animation-delay: 1.1s;
}

/* Add animation for destination button */
.destination-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #106e94b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  /* opacity: 0;  */
  transform: translateY(-10px); /* Move the button up */
  animation: dropIn 0.9s forwards; /* Apply the dropIn animation */
}

/* Adjust animation delay for destination button */
.destination-button:nth-child(1) {
  animation-delay: 1.2s;
}
.destination-button:nth-child(2) {
  animation-delay: 1.4s;
}
.destination-button:nth-child(3) {
  animation-delay: 1.6s;
}



  /* Media queries for tablet devices */
  @media (max-width: 768px) {
    .destination-item {
      width: calc(50% - 20px); /* Adjust width as per your requirement */
    }
  }
  .destinations-title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .destination-image {
    max-width: 90%;
    max-height: 250px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
  }
  .destination-description {
    margin-left: 20px;
    margin-right:20px;
  }
  /* Media queries for mobile devices */
  @media (max-width: 480px) {
    .destination-item {
      width: 100%; /* Display items in a single column */
    }
  }
  
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .destination-item {
    width: 100%; /* Display items in a single column */
  }
  .destination-description {
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}