.features-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  width: 100%; 
}

.features-content {
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px; /* Add padding to the sides for better mobile responsiveness */
}

.features-image {
  text-align: center;
  margin-bottom: 40px;
}

.features-text {
  text-align: center;
  margin-bottom: 20px;
}

.features-title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(172, 66, 66);
}

.features-img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Limit the height of the image */
  border-radius: 10px;
  box-shadow: 0 30px 100px rgba(223, 39, 202, 0.6);
}

.features-details {
  margin-top: 20px;
}

.feature {
  display: flex;
  gap: 15px;
  position: relative;
  animation: moveFeature 4s infinite alternate; /* Adjust timing and animation as needed */
}

@keyframes moveFeature {
  0% {
    left: 0;
  }
  100% {
    left: 20px; /* Adjust the distance you want the text to move */
  }
}

.feature-icon img {
  width: 40px;
  height: 40px;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feature-description {
  color: #898888;
}

@media screen and (max-width: 768px) {
  .features-content {
    padding: 0 20px;
  }
}
