/* Gallery.css */
body {
    margin: 0;
    height: 100vh;
  }
  
  .gallery-navigation {
    position: relative;
    width: 100%;
  }
  
  .transparent-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    /* z-index: 1; */
  }
  
  .transparent-arrow.prev {
    left: 10px;
    background-color: rgb(251, 251, 251);
    /* background-image: url('left-arrow-icon.png'); Add your left arrow icon */
    background-size: cover;
    /* z-index: 1; */
  }
  
  .transparent-arrow.next {
    right: 10px;
    background-color: rgb(251, 251, 251);
    /* background-image: url('right-arrow-icon.png'); Add your right arrow icon */
    background-size: cover;
  }
  
  .gallery-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden; /* Enable horizontal scrolling */
  }
  
  .gallery-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  
  .gallery-item:hover {
    transform: scale(1.1);
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .gallery-container {
      flex-wrap: wrap;
    }
  
    .gallery-item {
      flex: 0 0 100%; /* Full width in mobile view */
    }
  }
  