.container {
    background-color: #999393;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-bottom: 10px;
  }
  
  .input-group input[type="text"],
  .input-group select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #9b8b94;
    text-align: left;
  }
  
  th {
    background-color: #e74545;
  }
  
  tr:nth-child(even) {
    background-color: #93cfc5;
  }
  
  tr:hover {
    background-color: #a7a774;
  }
  
  .submit-button {
    background-color: #3d3da8;
    color: #090202;
    font-size:larger;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 50px;
    
    margin-right: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6dd681;
    
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 667px) {
    .input-group input[type="text"],
    .input-group select {
      width: 100%;
      /* margin-right:3%; */
    }
  
    .submit-button {
      width: 100%;
      color: rgb(255, 8, 0);
    }
  }
  