.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 20px; /* Adjust the gap between images */
    transition: transform 1s ease; /* Adjust transition speed */
  }
  
  .image-container1 {
    text-align: center;
    animation: fadeIn 2s ease forwards; /* Adjust animation speed */
  }
  
  .image-container1 img {
    margin-top: 40px;
    max-width: 60%;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
    margin-bottom: 10px; /* Add margin below the image */
  }
  
  .image-container1 p {
    margin: 0; /* Remove default margin of paragraph */
    font-family:monospace; /* Change the font family to your desired font */
    font-size: 24px; /* Change the font size if needed */
    font-weight:lighter; /* Change the font weight if needed */
  }
  #scroll-to-top {
    display: none;
  }

  .book-slot-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .book-slot-button {
    /* Add your button styles here */
    padding: 22px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    outline: none;
    margin-bottom: 40px;
    transition: all 0.3s ease;
  }
  
  .book-slot-button:hover {
    transform: scale(1.1);
  }
  
  .book-slot-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  
  .book-slot-button:hover::before {
    width: 0;
    height: 0;
  }
  
  .book-slot-button span {
    position: relative;
    z-index: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100px); /* Adjust initial position */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 768px) {
    .image-grid {
      grid-template-columns: 1fr; /* Single column layout for mobile */
    }
    
    .image-container1 img {
      
      margin: 30px auto 20px; /* Center images horizontally and add top margin */
      max-width: 80%; /* Adjust image width for smaller screens */
      margin-bottom: 20px; /* Increase space between images */
    }
    
    .image-container1 p {
      font-size: 18px; /* Decrease font size for better readability */
    }
    #scroll-to-top {
      display: block;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }
  
    .scroll-to-top-link {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
      background-color: #e71f1f;
      color: #fff;
      border-radius: 50%;
      text-decoration: none;
    }
  
    .scroll-to-top-link:hover {
      background-color: #333;
    }
  }
  