.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 20px; /* Adjust the gap between images */
  }
  
  .image-container1 {
    text-align: center;
  }
  
  .image-container1 img {
    margin-top: 40px;
    max-width: 60%;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
    margin-bottom: 10px; /* Add margin below the image */
  }
  
  .image-container1 p {
    margin: 0; /* Remove default margin of paragraph */
    font-family:monospace; /* Change the font family to your desired font */
    font-size: 24px; /* Change the font size if needed */
    font-weight:lighter; /* Change the font weight if needed */
  }
  #scroll-to-top {
    display: none;
  }

  
  @media screen and (max-width: 768px) {
    .image-grid {
      grid-template-columns: 1fr; /* Single column layout for mobile */
    }
    
    .image-container1 img {
      
      margin: 30px auto 20px; /* Center images horizontally and add top margin */
      max-width: 80%; /* Adjust image width for smaller screens */
      margin-bottom: 20px; /* Increase space between images */
    }
    
    .image-container1 p {
      font-size: 18px; /* Decrease font size for better readability */
    }
    #scroll-to-top {
      display: block;
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }
  
    .scroll-to-top-link {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
      background-color: #e71f1f;
      color: #fff;
      border-radius: 50%;
      text-decoration: none;
    }
  
    .scroll-to-top-link:hover {
      background-color: #333;
    }
  }
  