.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 22px 22px; */
  
  width: 100%;   
}

.name,
.subtitle{
  margin-left: 5px;
  font-family:cursive;
  font-size: 20px;
  line-height: 0.7;
  font-weight: 100;
}
.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.navbar-right{
  display: flex;
  align-items: center;
  margin-right: 2%;

}



.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.menu-item {
  padding: 25px 20px; /* Increase padding to create a gap between menu items */
  font-size: 22px; 
  color: rgb(251, 251, 251);
  text-decoration: none;
  /* padding: 0 20px; */
}

.menu-item:hover {
  color: #e2d864;
}

.active {
  color: #df1436;
}

.menu-icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.menu-icon:hover {
  color: #e2d864;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    margin-right: 8px;
  }
  .navbar{
    height: 110px;
  }
  .name,
  .subtitle{
    margin-left: 5px;
    font-family:cursive;
    font-size: 18px;
    line-height: 0.7;
    font-weight: 50;
  }
  .menu {
    position: absolute;
    top:12%; 
    right: 0;
    background-color: rgb(0, 0, 0, 1);
    width: 100%;
    height: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-out;
    transform: translateY(-100%);
    z-index: 9999; 
  }



  .menu.show {
    display: flex;
    /* width: 100px; */
    transform: translateY(0);
  }
  .menu-item:hover {
    color: #e2d864;
  }
  
  .menu-item {
    /* padding: 10px 20px; */
    border-bottom: 1px solid #333;
    text-align: center; /* Center the text */
    line-height: 2.5em; /* Adjust line height for better spacing */
    margin: 0 auto; /* Center the items */
      position: relative;
  }
  .menu-item::after {
    content: '';
    position: absolute;
    bottom: 12px; /* Position the line at the bottom */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Set the color of the line */
  }
  .menu-item:last-child {
    border-bottom: none;
  }
}
